<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
		  <ExcludeByFile>**/Migrations/*.cs</ExcludeByFile>
          <Exclude>[xunit.*]*,[*.Tests]*</Exclude>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <UseSourceLink>true</UseSourceLink>
          <SingleHit>false</SingleHit>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <RunConfiguration>
    <ResultsDirectory>./TestResults</ResultsDirectory>
    <CollectSourceInformation>true</CollectSourceInformation>
  </RunConfiguration>
</RunSettings>